<div class="container">
    <h1>Welcome</h1>
    <h2>A class recommendation system built for Tulane students by Tulane students</h2>
    <p></p>
    
    
    <%= link_to image_tag("buttons/Sign_in.png", :width => 300, :height => 35, :alt => "sign in button"), "users/sign_in" %>
    
    
</div>