<div class="container">
    <h1 align="center">Welcome</h1>
     <br/>
    <h4 align="center">A class recommendation system built for Tulane students by Tulane students</h4>
    <p></p>
    
    
    <img src="/images/TU_Campus2.jpg" class = 'home_img' alt="Tulane Campus" />
    <br/>
    <!--<%= link_to image_tag("buttons/Sign_in.png", :width => 300, :height => 35, :alt => "sign in button"), "users/sign_in" %>-->
    
</div>