<style>
    .head{
        background-color:rgb(40,92,77);
        color: white;
    }
    
    .rowA{background-color:rgb(185,217,235);}
    
    .rowB{background-color:white;}
</style>
<h1>Courses for This Major</h1>
<%= link_to 'Home', root_path %>
<%= link_to 'Back to Majors', "majors" %>
<%= link_to 'View All Courses', "courses" %>
<br /><br /><br />
