<%= render 'layouts/navigation_links' %>
<ul class="nav">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Courses', "courses" %></li>
  <li><%= link_to 'Students', "students" %></li>

</ul>

